/*******************************
            Global
*******************************/

html, body {
  font-family: "Lato", Arial, sans-serif;
  margin: 0px; padding: 0px;
}
body {
  min-height: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Merriweather", Times New Roman, serif;
}

.button {

}



/*******************************
              Page
*******************************/

.hero {
  background: #D8EFEF;
  padding-top: 20px;
  padding-bottom: 54px;
}


.hero .container {
  position: relative;
}

.hero__logo {
  margin-bottom: 74px;
}

.hero__body {
  max-width: 436px;
}

.hero__body p {
  font-size: 21px;
  line-height: 1.6;
}

.hero__body button {
  text-transform: uppercase;
  color: white;
  border-radius: 3px;
  height: 47px;
  width: 157px;
  background: linear-gradient(#7CB792, #61A078);
  border-radius: 3px;
  border: 1px solid #518464;
  outline: none;
  text-shadow 0 1px 3px #5B8F6E;
}

.hero__graphic {
  position: absolute;
  width: 50%;
  right: 0;
  top: 48px;
}

.page {
  padding-top: 136px;
}

.page__header {
  font-size: 36px;
}

.page__cards {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 0;
  margin-bottom: 108px;
}

.card {
  list-style: none;
  flex: 0 1 auto;
  border-radius: 3px;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
  margin-bottom: 74px;
  width: 330px;
  top: 0;
  position: relative;
}

.card__hero {
  display: flex;
  justify-content: center;
  background: linear-gradient(#444, #1D2024);
  padding-top: 50px;
  padding-bottom: 40px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.card__inner {
  padding: 36px 28px 22px;
}

.card__inner h3 {
  font-size: 20px;
  line-height: 1.2;
  margin: 0;
  margin-bottom: 12px;
}

.card__inner p {
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
}

.page__side-by-side {
  display: flex;
  justify-content: center;
  height: 230px;
  position: relative;
}

.page__side-by-side div:first-child {
  border-right: 2px solid #E5E5E5;
}

.page__side-by-side div {
  width: 50%;
  justify-content: center;
  display: flex;
  height: 148px;
}

.page__side-by-side p {
  font-size: 26px;
  font-weight: 400;
  text-align: center;
  color: #999;
  max-width: 305px;
}

.page__side-by-side strong {
  color: #424242;
  font-weight: 600;
}

.page__landscape {
  position: absolute;
  bottom: 0;
  left: 0;
}

.footer {
  height: 60px;
  background: #212629;
  padding-top: 14px;
}

.footer__content {
  display: flex;
  align-items: center;

}


.footer p {
  font-size: 12px;
  margin-left: 8px;
  color: #5A6F71;
}


/*******************************
         Responsive
*******************************/

/* Small Monitor */
@media only screen and (min-width: 1025px) and (max-width: 1199px) {


}


/* Tablet */
@media screen and (max-width: 1024px) {

}

/* Mobile */
@media only screen and (max-width: 767px) {
}
